@model IEnumerable<Carly.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Our Brands</h2>

<div class="container">

    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>
    <br />
    <!--Java-Script with JQuery (AJAX)-->
    <div class="row">
        <input type="submit" class="btn btn-default" value="Change view to Group by country" onclick="$('#tableShow').load(location.href+'//countryTable','');" />
        <input type="submit" class="btn btn-default" value="Change view to see all" onclick="$('#tableShow').load(location.href+'//brandTable','');" />

    </div>
    <br />
    <br />
    <div id="tableShow">
        <table id="Brands" class="table table-hover table-bordered " cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BrandName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OriginCountry)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OriginCountry)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Edit", new { id = item.id })" style="text-decoration: none">
                                    <img src="@Url.Content("~/Content/img/edit-24.ico")" height="25" width="25" />
                                </a>
                            }
                            <a href="@Url.Action("Details", new { id = item.id })" style="text-decoration: none">
                                <img src="@Url.Content("~/Content/img/view-details-24.ico")" height="25" width="25" />
                            </a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("Delete", new { id = item.id })" style="text-decoration: none">
                                    <img src="@Url.Content("~/Content/img/delete-24.ico")" height="25" width="25" />
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section scripts
{
        <script>
            $(document).ready(function () { //load the page of brand table
                $('#Brands').DataTable();
            });
            $("#groupByCountry").click(function () { //load the page of groupBy country table
                $(load(location.href + '//countryTable', ''));
            });
        </script>
    }
</div>