@model IEnumerable<Carly.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <br />
    <a onclick="$('#tableShow').load(location.href+'//countryTable','');">Change view to Group by country</a>
</p>

<div id="tableShow">
    <table id="Brands" class="table table-hover table-bordered " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginCountry)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginCountry)
                    </td>
                    <td>
                        
                        <a href="@Url.Action("Details", new { id = item.id })" style="text-decoration: none">
                            <img src="@Url.Content("~/Content/img/view-details-24.ico")" height="25" width="25" />
                        </a>
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $('#Brands').DataTable();
            });
        </script>
    }
</div>