@model IEnumerable<Carly.Models.CarDetails>

@{
    ViewBag.Title = "Home Page";
}


<h2>Our Inventory</h2>


<div id="tableShow">
    <table id="allCars" class="table table-hover table-bordered " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
          
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (ViewBag.carDetails))
            {
                {
                    <tr>
                        <td>
                            @(item.BrandName)
                        </td>
                        <td>
                            @(item.OriginCountry)
                        </td>
                        <td>
                            @(item.DegemName)
                        </td>
                        <td>
                            @(item.Color)
                        </td>
                        <td>
                            @(item.Quantity)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                var tbt = $('#allCars').DataTable(
                    {
                        "autoWidth": true
                    });
                tbt.columns.adjust().draw();
            });
        </script>
    }