@model IEnumerable<Carly.Models.CarDetails>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="container">
    @using (Html.BeginForm())
    {

        <p>
            <div class="form-group">
                @Html.Label("Brand:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        var brands = new List<SelectListItem>();
                        brands.Add(new SelectListItem { Text = "Any", Value = "" });

                        foreach (var Brand in ViewBag.degemList)
                        {
                            brands.Add(new SelectListItem { Value = Brand.id.ToString(), Text = Brand.BrandName });
                        }
                    }
                    @Html.DropDownList("BrandSearchString", brands, htmlAttributes: new { @class = "form-control" }) <br />
                </div>
                @Html.Label("Origin Country:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("CountrySearchString", null, htmlAttributes: new { @class = "form-control" }) <br />
                </div>
                @Html.Label("Model:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("ModelSearchString", null, htmlAttributes: new { @class = "form-control" }) <br />
                </div>

                @Html.Label("Color:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("ColorSearchString", null, htmlAttributes: new { @class = "form-control" }) <br />
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </p>
                        }
</div>
<br/>

<table id="Degems" class="table table-hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.carList)

        {
            <tr>
                <td>
                    @(item.BrandName)
                </td>
                <td>
                    @(item.OriginCountry)
                </td>
                <td>
                    @(item.DegemName)
                </td>
                <td>
                    @(item.Color)
                </td>
                <td>
                    @(item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>



